.thebackground {
    -fx-background-image: url("source/bg.png");
    -fx-background-size: 100% 100%;
    }

.label1{
    -fx-text-fill        : #162a49;
    -fx-font-weight      : bold;
    }

.button1 {
    -fx-background-color : #356896;
    -fx-text-fill        : #ffffff;
    -fx-font-weight      : bold;
    }

.button1:hover {
    -fx-background-color : #01579B;
    }

.button2 {
    -fx-text-fill        : #ffffff;
    -fx-background-color : #039B00;
    -fx-font-weight      : bold;
    }

.button2:hover {
    -fx-background-color : #006631;
    }
